.container
	.row
		.col-md-1.col-lg-1
		.col-md-10.col-lg-10(align="center")
			h1#numberOne #{numberOne.name} - #{numberOne.score}
			h2#numberTwo #{numberTwo.name} - #{numberTwo.score}
			h3#numberThree #{numberThree.name} - #{numberThree.score}
		.col-md-1.col-lg-1